.service-card-img {
  background: #374b5d;
  width: 73px;
  height: 64px;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #ededed;
}
.service-card-title {
  color: #dd3751;
  font-weight: 600;
}
.service-card-description{
    font-weight: 500;
}

/* media query */

@media screen and (max-width:426px) {
    .service-card-img {
        width: 63px;
        height: 54px;
    }
}