.partner-img-bg {
  background-image: url("../../Picture/loginbanner.jpg");
  background-size: 100% 100%;
  max-width: 100%;
  height: 100%;
}
.partner-text {
  color: white;
  font-weight: 700;
  font-size: 60px;
  padding-top: 55px;
}
.partner-button {
  padding-top: 30px;
}
.partner-login-text {
  color: #dd3751;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}
.partner-btn-user {
  background-color: #374b5d;
  border: 2px solid #374b5d;
}
.partner-btn-user1 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.partner-service-bg {
  background-image: url("../../Picture/loginbg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.partner-image-login {
  height: 40px;
}
.partner-service-login {
  color: #dd3751;
  font-weight: 700;
}
.partner-text-login {
  text-align: center;
}
.partner-login-line {
  background-color: #e7e7e7;
  height: 1px;
  width: 370px;
  margin: 20px 0 20px 0;
}
.partner-register-tag {
  color: black;
  font-size: 30px;
}
.partner-register-form {
  height: 1425px;
}
.partner-register-input {
  background-color: #f2f2f2;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  color: #757779;
  width: 100%;
  height: 50px;
}
.forget-pswd {
  text-decoration: none;
  color: #6b6b6b;
  text-align: start;
  margin-right: 280px;
}
.partner-register-submit {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #dd3751;
  border: none;
  border-radius: 0;
  font-size: 26px;
  font-weight: 500;
}
.partner-login_link {
  color: #dd3751;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.partner-reg-err {
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.partner-register-form {
  max-width: 435px;
  margin: auto;
}

/* media query */

@media screen and (max-width: 352px) {
  .partner-login-line {
    width: 285px;
  }
}

@media screen and (max-width: 375px) {
  .partner-text-login {
    font-size: 15px;
  }
}

@media screen and (max-width: 447px) {
  .partner-register-tag {
    margin-right: 235px;
  }
}

@media screen and (max-width: 451px) {
  .forget-pswd {
    margin-right: 110px;
  }
}

@media screen and (max-width: 770px) {
  .partner-text {
    font-size: 33px;
  }
  .partner-login-text {
    font-size: 21px;
  }
}

@media screen and (max-width: 991px) {
  .partner-img-bg {
    height: auto;
  }
  .partner-service-bg {
    padding: 25px;
  }
  .partner-register-form {
    height: 1425px;
  }
  .password-note {
    max-width: 46%;
  }
}

@media screen and (max-width: 1341px) {
  .partner-img-bg {
    height: auto;
  }
}

@media screen and (max-width: 1420px) {
  .partner-img-bg {
    height: auto;
  }
}
